<section class="aboutUs-section" id="classes">
  <div class="container">
    <!-- <li class="yoga-classes-list"> -->
        <picture class="aboutUs-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              img/aboutUs/team-desk-1x.png    1x,
              img/aboutUs/team-desk-2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/aboutUs/team-tab-1x.png    1x,
              img/aboutUs/team-tab-2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              img/aboutUs/team-mob-1x.png    1x,
              img/aboutUs/team-mob-2x.png 2x
            "
          />
          <img
            class="aboutUs-img"
            src="img/aboutUs/team-mob-1x.png"
            alt="team"
          />
        </picture>


        <a href="#index.html" class="aboutUs-link">
          <svg class="svg" width="64" height="64">
            <use href="img/sprite.svg#icongo-icon"></use>
          </svg>
        </a>



        <!-- <svg class="close-icon" width="20" height="20">
              <use href="/src/img/sprite.svg#icon-Facebook"></use>
            </svg> -->

<!-- <img src="img/alien-svgrepo-com.svg" alt=" SVG"> -->

    <!-- <p class="explore-text">Explore</p> -->
    <h2 class="aboutUs-title">About ArtistsHub</h2>
    <p class="aboutUs-paragraph">
      At ArtistsHub, our mission is to connect music lovers with the artists they adore. We strive to create a vibrant community where discovering new music is as enjoyable as listening to it.
    </p>
  </div>
</section>