<section class="artists-section" id="artists-section">
  <div class="container">
    <h2 class="artists__title">Artists</h2>
    <p class="artists__sub-title">Explore Your New Favorite Artists</p>
    <ul class="artists__list js-artists-list">
      <li class="artists__item artists__item--skeleton">
        <div class="skeleton-image" aria-hidden="true"></div>
        <ul class="artists__genre-list">
          <li class="artists__genre-item skeleton-genre"></li>
          <li class="artists__genre-item skeleton-genre"></li>
        </ul>
        <h3 class="artists__title-name skeleton-title"></h3>
        <p class="artists__text-biography skeleton-text"></p>

        <div class="skeleton-btn" aria-hidden="true"></div>
      </li>
      <li class="artists__item artists__item--skeleton">
        <div class="skeleton-image" aria-hidden="true"></div>
        <ul class="artists__genre-list">
          <li class="artists__genre-item skeleton-genre"></li>
          <li class="artists__genre-item skeleton-genre"></li>
        </ul>
        <h3 class="artists__title-name skeleton-title"></h3>
        <p class="artists__text-biography skeleton-text"></p>

        <div class="skeleton-btn" aria-hidden="true"></div>
      </li>
      <li class="artists__item artists__item--skeleton">
        <div class="skeleton-image" aria-hidden="true"></div>
        <ul class="artists__genre-list">
          <li class="artists__genre-item skeleton-genre"></li>
          <li class="artists__genre-item skeleton-genre"></li>
        </ul>
        <h3 class="artists__title-name skeleton-title"></h3>
        <p class="artists__text-biography skeleton-text"></p>

        <div class="skeleton-btn" aria-hidden="true"></div>
      </li>
      <li class="artists__item artists__item--skeleton">
        <div class="skeleton-image" aria-hidden="true"></div>
        <ul class="artists__genre-list">
          <li class="artists__genre-item skeleton-genre"></li>
          <li class="artists__genre-item skeleton-genre"></li>
        </ul>
        <h3 class="artists__title-name skeleton-title"></h3>
        <p class="artists__text-biography skeleton-text"></p>

        <div class="skeleton-btn" aria-hidden="true"></div>
      </li>
      <li class="artists__item artists__item--skeleton">
        <div class="skeleton-image" aria-hidden="true"></div>
        <ul class="artists__genre-list">
          <li class="artists__genre-item skeleton-genre"></li>
          <li class="artists__genre-item skeleton-genre"></li>
        </ul>
        <h3 class="artists__title-name skeleton-title"></h3>
        <p class="artists__text-biography skeleton-text"></p>

        <div class="skeleton-btn" aria-hidden="true"></div>
      </li>
      <li class="artists__item artists__item--skeleton">
        <div class="skeleton-image" aria-hidden="true"></div>
        <ul class="artists__genre-list">
          <li class="artists__genre-item skeleton-genre"></li>
          <li class="artists__genre-item skeleton-genre"></li>
        </ul>
        <h3 class="artists__title-name skeleton-title"></h3>
        <p class="artists__text-biography skeleton-text"></p>

        <div class="skeleton-btn" aria-hidden="true"></div>
      </li>
      <li class="artists__item artists__item--skeleton">
        <div class="skeleton-image" aria-hidden="true"></div>
        <ul class="artists__genre-list">
          <li class="artists__genre-item skeleton-genre"></li>
          <li class="artists__genre-item skeleton-genre"></li>
        </ul>
        <h3 class="artists__title-name skeleton-title"></h3>
        <p class="artists__text-biography skeleton-text"></p>

        <div class="skeleton-btn" aria-hidden="true"></div>
      </li>
      <li class="artists__item artists__item--skeleton">
        <div class="skeleton-image" aria-hidden="true"></div>
        <ul class="artists__genre-list">
          <li class="artists__genre-item skeleton-genre"></li>
          <li class="artists__genre-item skeleton-genre"></li>
        </ul>
        <h3 class="artists__title-name skeleton-title"></h3>
        <p class="artists__text-biography skeleton-text"></p>

        <div class="skeleton-btn" aria-hidden="true"></div>
      </li>
    </ul>
    <div id="pagination" class="tui-pagination"></div>
  </div>
</section>
