<!-- Modal menu -->
<div class="burger-overlay" id="burger-overlay">
  <div id="mobileMenu" class="mobile-menu">
    <div class="mobile-menu-top">
      <a href="/index.html" class="logo-mobile">
        <svg width="119" height="51">
          <use href="/img/sprite.svg#icon-Company-Logo"></use>
        </svg>
      </a>
      <button class="menu-close-btn js-burger-menu-close" aria-label="Close menu">
        <svg class="close-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <ul class="mobile-menu-list">
      <li><a class="nav-link-modal" href="#artists-section">Artists</a></li>
      <li><a class="nav-link-modal" href="#about">About Us</a></li>
      <li><a class="nav-link-modal" href="#reviews">Reviews</a></li>
    </ul>
  </div>
</div>
