<header class="header">
  <div class="container header-container">
    <nav class="navigator-header">
      <a href="/index.html" class="logo-header">
        <svg width="119" height="51">
          <use href="/img/sprite.svg#icon-Company-Logo"></use>
        </svg>
      </a>
      <ul class="desktop-nav">
        <li><a class="nav-link-modal" href="#artists-section">Artists</a></li>
        <li><a class="nav-link-modal" href="#about">About Us</a></li>
        <li><a class="nav-link-modal" href="#reviews">Reviews</a></li>
      </ul>
      <div class="menu-box">
        <button type="button" class="menu-mobile js-burger-menu-open">
          <svg width="24" height="24">
            <use href="/img/sprite.svg#icon-menu-alt-right"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
