.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #060307;
  z-index: 999;
}

.navigator-header {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  width: 119px;
  height: 51px;
  fill: white;
  transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logo-header svg:hover,
.logo-header svg:focus {
  fill: #764191;
}

.desktop-nav {
  display: none;
}

.menu-mobile svg {
  fill: white;
  transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-mobile:hover svg,
.menu-mobile:focus svg {
  fill: #764191;
}

.menu-mobile {
  border: none;
  background-color: #060307;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.menu-mobile:focus-visible {
  border: none;
  outline: none;
  box-shadow: none;
}

.burger-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #060307;
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  flex-direction: column;
  justify-content: flex-start;
}

.burger-overlay.open {
  display: flex;
}

.mobile-menu-top {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 12px;
  max-width: 320px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}

.logo-mobile {
  width: 119px;
  height: 51px;
  fill: white;
  transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logo-mobile svg:hover,
.logo-mobile svg:focus {
  fill: #764191;
}

.menu-close-btn {
  background-color: #060307;
  border: none;
  width: 48px;
  height: 48px;
}

.menu-close-btn svg {
  fill: white;
  transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-close-btn:hover svg,
.menu-close-btn:focus svg {
  fill: #764191;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.nav-link-modal {
  font-family: 'IBM Plex Sans Medium', sans-serif;
  font-size: 26px;
  line-height: 1.5;
  color: #fff;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link-modal:hover,
.nav-link-modal:focus {
  color: #764191;
}

@media only screen and (min-width: 768px) {
  .navigator-header {
    height: 72px;
    margin-left: 32px;
    margin-right: 32px;
    justify-content: flex-start;
  }

  .desktop-nav {
    display: flex;
    margin-left: 263px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .nav-link-modal {
    font-family: 'IBM Plex Sans Regular', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
  }

  .menu-mobile {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .navigator-header {
    height: 72px;
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-start;
  }

  .desktop-nav {
    display: flex;
    margin-left: 935px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .nav-link-modal {
    font-family: 'IBM Plex Sans Regular', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
  }

  .menu-mobile {
    display: none;
  }
}